SERVER_ADDRESS=:8080
SLAVE_SERVER_ADDRESS=:8081
SLAVE3_SERVER_ADDRESS=:8082
SLAVE2_PORT=5000
SLAVE4_PORT=5001

MASTER_URL=http://localhost:8080
SLAVE1_URL=http://localhost:8081
SLAVE2_URL=http://localhost:5000
SLAVE3_URL=http://localhost:8082
SLAVE4_URL=http://localhost:5001
